{% for line in warning_comment %}
# {{ line }}
{% endfor %}

*.err;kern.warning;auth.notice;mail.crit		/dev/console
local1.*						/var/log/haproxy.log
*.notice;authpriv.none;kern.debug;lpr.info;mail.crit;news.err	/var/log/messages
security.*					/var/log/security
auth.info;authpriv.info				/var/log/auth.log
mail.info					/var/log/maillog
cron.*						/var/log/cron
!-devd
*.=debug					/var/log/debug.log
*.emerg						*
daemon.info					/var/log/daemon.log
!*
include						/etc/syslog.d
include						/usr/local/etc/syslog.d