#!/bin/sh

# PROVIDE: shlink
# REQUIRE: LOGIN network
# BEFORE:  DAEMON
# KEYWORD: shutdown

{% for line in warning_comment %}
# {{ line }}
{% endfor %}

. /etc/rc.subr

name="shlink"
rcvar="shlink_enable"
command="/usr/local/shlink/bin/rr"
command_args="serve -c /usr/local/shlink/config/roadrunner/.rr.yml"
pidfile="/var/run/${name}.pid"
procname="/usr/local/shlink/bin/rr"

start_precmd="shlink_prestart"

load_rc_config $name

shlink_prestart() {
    cd /usr/local/shlink || exit 1
    return 0
}

# Default settings
: ${shlink_enable:="NO"}

run_rc_command "$1"
