#!/bin/sh

# PROVIDE: shlink
# REQUIRE: LOGIN network
# BEFORE:  DAEMON
# KEYWORD: shutdown

{% for line in warning_comment %}
# {{ line }}
{% endfor %}

. /etc/rc.subr

name="shlink"
rcvar="shlink_enable"
pidfile="/var/run/${name}.pid"

load_rc_config $name

: ${shlink_enable:="NO"}
command="/usr/sbin/daemon"
command_args="-f -P ${pidfile} -r"
procname="/usr/sbin/daemon"

# Command to run under daemon
_program="/usr/local/shlink/bin/rr"
_program_flags="serve -c /usr/local/shlink/config/roadrunner/.rr.yml"

# Let rc.subr append flags to command_args
command_args="$command_args -- ${_program} ${_program_flags}"

start_precmd="shlink_prestart"

shlink_prestart() {
    cd /usr/local/shlink || exit 1
    return 0
}

# Default settings
: ${shlink_enable:="NO"}

run_rc_command "$1"
