#!/bin/sh

if [ $# -ne 1 ]; then
    echo "Expected one argument: ${0} CERTIFICATE-LEAF"
    exit 1
fi

certificate_leaf="${1}"
certificate_source="{{ services_nfs_prefix }}/certificates/${certificate_leaf}"
certificate_destination="{{ certificates_local_dir }}/${certificate_leaf}"

if [ ! -d "$(dirname "${certificate_destination}")" ]; then
    mkdir -p "$(dirname "${certificate_destination}")"
fi

if [ -f "${certificate_destination}" ]; then
    certificate_hash="$(md5sum "${certificate_destination}" | awk '{ print $1 }')"
else
    certificate_hash="none"
fi

rsync -Pav \
    -e "ssh -i $HOME/.ssh/acme-ro" \
    "acme-ro@{{ services_nfs_server }}:${certificate_source}" \
    "${certificate_destination}"
chown +169 "${certificate_destination}"
chgrp +169 "${certificate_destination}"
chmod 640 "${certificate_destination}"

new_certificate_hash="$(md5sum "${certificate_destination}" | awk '{ print $1 }')"

if [ "${certificate_hash}" != "${new_certificate_hash}" ]; then
    service haproxy restart
fi