{% for line in warning_comment %}
# {{ line }}
{% endfor %}

ZPOOL=poudriere
ZROOTFS=/poudriere
NO_ZFS=no
FREEBSD_HOST=https://download.freebsd.org
RESOLV_CONF=/etc/resolv.conf
BASEFS=/usr/local/poudriere
POUDRIERE_DATA=/usr/local/poudriere/data
USE_PORTLINT=no
USE_TMPFS=yes
DISTFILES_CACHE=/usr/ports/distfiles
PKG_REPO_SIGNING_KEY=/usr/local/etc/ssl/private/poudriere-sk.key
URL_BASE=http://10.174.12.145
CHECK_CHANGED_OPTIONS=verbose
CHECK_CHANGED_DEPS=yes
RESTRICT_NETWORKING=yes
LOGS=/usr/local/poudriere/logs/