---
- name: Create Docker config directory
  file:
    path: /etc/docker
    state: directory
    owner: root
    group: root
    mode: '0755'
- name: Copy Docker daemon config
  copy:
    src: docker/daemon.json
    dest: /etc/docker/daemon.json
    owner: root
    group: root
    mode: '0644'
  notify: restart docker
- name: Install Docker
  package:
    name: docker.io
    state: present
- name: Install docker-compose
  package:
    name: docker-compose
    state: present
