---
- name: Internal HAProxy reverse proxy server
  hosts: internal_haproxy
  become: true
  vars_files:
    - "inventory/host_variables/{{ ansible_host }}.yml"
  vars:
    certificate_cn: jwfh.ca
    haproxy_is_external: false
    haproxy_backend_services:
      authentik:
        mode: http
        balance: roundrobin
        port: 30141
        ssl: true
        check_sni: true
        domain_name: sso.jwfh.ca
        servers:
          - tiny.lemarchant.jacobhouse.ca
      homepage:
        mode: http
        balance: roundrobin
        port: 80
        domain_name: jwfh.ca
        servers: 
          - scooby.lemarchant.jacobhouse.ca
          - bowser.lemarchant.jacobhouse.ca
      jellyfin:
        mode: http
        balance: sticky
        port: 30013
        domain_name: jellyfin.jwfh.ca
        servers:
          - tiny.lemarchant.jacobhouse.ca
      immich:
        mode: http
        balance: sticky
        port: 30041
        domain_name: immich.jwfh.ca
        servers:
          - tiny.lemarchant.jacobhouse.ca
      jenkins:
        mode: http
        balance: sticky
        port: 30017
        domain_name: ci.jwfh.ca
        servers:
          - ritchie.lemarchant.jacobhouse.ca
      docker-registry:
        mode: http
        balance: roundrobin
        port: 30996
        domain_name: registry.jwfh.ca
        servers:
          - k8s.lemarchant.jacobhouse.ca
      mirror:
        mode: http
        balance: roundrobin
        port: 80
        domain_name: mirror.jwfh.ca
        servers: 
          - muffin.lemarchant.jacobhouse.ca
      unifi:
        mode: http
        balance: roundrobin
        port: 443
        domain_name: unifi.jwfh.ca
        servers:
          - unifi.lemarchant.jacobhouse.ca
      shlink:
        mode: http
        balance: roundrobin
        port: 8080
        domain_name: go.jwfh.ca
        servers:
          - impulse.lemarchant.jacobhouse.ca
      shlink_admin:
        mode: http
        balance: roundrobin
        port: 80
        domain_name: go-admin.jwfh.ca
        servers:
          - impulse.lemarchant.jacobhouse.ca
      expense_analysis:
        mode: http
        balance: sticky
        port: 31433
        ssl: true
        check_sni: true
        domain_name: expenses.jwfh.ca
        servers:
          - k8s12-001.lemarchant.jacobhouse.ca
      expense_analysis_dev:
        mode: http
        balance: sticky
        port: 31433
        ssl: true
        check_sni: true
        domain_name: expenses-dev.jwfh.ca
        servers:
          - k8s12-001.lemarchant.jacobhouse.ca
  roles:
    - base
    - haproxy

